@{
    ViewBag.Title = "Index";
}

<div data-bind="with: homePageVm">
    <div class="currently" data-bind="with: currentConditions">
        <h4>Currently</h4>
        <div class="left">
            <img src="~/Content/images/sunny.jpg" alt="Sunny" class="conditionIcon" />
        </div>
        <div class="right">
            <div class="temp" data-bind="text: tempFormatted"></div>
            <div class="wind">
                Wind: <span data-bind="text: windFormatted"></span>
            </div>
        </div>
    </div>
    <div class="days">
        <div class="today day">
            <h4>Today</h4>
            <img src="~/Content/images/sunny.jpg" alt="Sunny" class="conditionIcon" />
            <div class="temp">High: 50°F</div>
            <div class="temp">Low: 50°F</div>
        </div>
        <div class="tomorrow day">
            <h4>Tomorrow</h4>
            <img src="~/Content/images/sunny.jpg" alt="Sunny" class="conditionIcon" />
            <div class="temp">High: 50°F</div>
            <div class="temp">Low: 50°F</div>
        </div>
        <div class="dayAfter day    ">
            <h4>Day After Tomorrow</h4>
            <img src="~/Content/images/sunny.jpg" alt="Sunny" class="conditionIcon" />
            <div class="temp">High: 50°F</div>
            <div class="temp">Low: 50°F</div>
        </div>
    </div>
</div>

<div class="details" style="display: none;">
    <div class="other section">
        <div class="wind">Wind: 1-5 MPH SW</div>
        <div class="humidity">Humidity: 47%</div>
    </div>
    <div class="sun section">
        <div>Sunrise: 6:35 AM</div>
        <div>Sunset: 5:49 PM</div>
    </div>
    <div class="moon section">
        <div>Moonrise: 5:09 AM</div>
        <div>Moonset: 4:18 PM</div>
        <div>Waning Crescent, 4% of the Moon is Illuminated</div>
    </div>
</div>





@section scripts
{
    @Scripts.Render("~/bundles/weatherapp")

    <script>
        Cachematrix.WeatherApp.init();
    </script>
}
