@{
    ViewBag.Title = "Index";
}

<h2>Cities</h2>

<div id="cities">
    <div class="city">
        <h3>Denver</h3>
        
        <div class="days">
            <div class="today day">
                <h4>Today</h4>
                <img src="~/Content/images/sunny.jpg" alt="Sunny" />
            </div>
            <div class="tomorrow day">
                <h4>Tomorrow</h4>
                <img src="~/Content/images/sunny.jpg" alt="Sunny" />
            </div>
            <div class="dayAfter day    ">
                <h4>Day After Tomorrow</h4>
                <img src="~/Content/images/sunny.jpg" alt="Sunny" />
            </div>
        </div>
        <div class="clear" />
        <div class="details">
            
        </div>
    
</div>
    
@section scripts
{
    <script src="~/Scripts/Pages/Home.Index.js"></script>
}
