@{
    ViewBag.Title = "Index";
}

<div id="main-page" class="page-section current-page" data-bind="with: homePageVm">
    <div class="currently" data-bind="with: currentConditions">
        <h4>Currently</h4>
        <div class="left">
            <img alt="Sunny" class="conditionIcon" data-bind="attr: {src: imageIconSrc, title: basicConditionName, alt: basicConditionName}" />
        </div>
        <div class="right">
            <div class="temp" data-bind="text: tempFormatted"></div>
            <div class="wind">
                Wind: <span data-bind="text: windFormatted"></span>
            </div>
        </div>
    </div>
    <div class="days">
        <div class="today day" data-bind="with: today">
            <div class="clickTarget" data-bind="click: $root.dayClickHandler">
                <h4>Today</h4>
                <div data-bind="template: {name: 'day-template' }"></div>
            </div>
        </div>
        <div class="tomorrow day" data-bind="with: tomorrow">
            <div class="clickTarget" data-bind="click: $root.dayClickHandler">
                <h4>Tomorrow</h4>
                <div data-bind="template: {name: 'day-template'}"></div>
            </div>
        </div>
        <div class="dayAfterTomorrow day" data-bind="with: dayAfterTomorrow">
            <div class="clickTarget" data-bind="click: $root.dayClickHandler">
                <h4>Day After Tomorrow</h4>
                <div data-bind="template: {name: 'day-template' }"></div>
            </div>
        </div>
    </div>
</div>

<div id="details-page" class="page-section" data-bind="with: detailsPageVm">
    
    <a class="backLink" href="#" data-bind="click: $root.backClickHandler">Back</a>

    <div class="other section">
        <div class="wind">Wind: <span data-bind="text: windFormatted"></span> </div>
        <div class="humidity">Humidity: <span data-bind="text: humidityFormatted"></span></div>
    </div>
    <div class="sun section">
        <div>Sunrise: <span data-bind="text: sunrise"></span></div>
        <div>Sunset: <span data-bind="text: sunset"></span></div>
    </div>
    <div class="moon section">
        <div>Moonrise: <span data-bind="text: moonrise"></span></div>
        <div>Moonset: <span data-bind="text: moonrise"></span></div>
        <div><span data-bind="text: moonDesc"></span></div>
    </div>
</div>

<script id="day-template" type="text/html">
    <img alt="Sunny" class="conditionIcon" data-bind="attr: {src: imageIconSrc, title: basicConditionName, alt: basicConditionName}" />

    <div class="temp">
        High: <span data-bind="text: highTempFormatted"></span>
    </div>
    <div class="temp">
        Low: <span data-bind="text: lowTempFormatted"></span>
    </div>    
</script>
      

@section scripts
{
    @Scripts.Render("~/bundles/weatherapp")

    <script>
        Cachematrix.WeatherApp.init();
    </script>
}
